<!DOCTYPE html>
<html>
<head>
<script src="/src/components/BGImage/index.js"></script>
<script src="/src/components/BlogPostCard/index.js"></script>
<script src="/src/components/Hamburger/index.js"></script>
<script src="/src/components/Header/index.js"></script>
<script src="/src/components/Image/index.js"></script>
<script src="/src/components/Layout/index.js"></script>
<script src="/src/components/Menu/index.js"></script>
<script src="/src/components/MobileMenu/index.js"></script>
<script src="/src/components/ModeButton/index.js"></script>
<script src="/src/components/PageNavigation/index.js"></script>
<script src="/src/components/Seo/index.js"></script>
<script src="/src/context/ModeProvider.js"></script>
<script src="/src/hooks/useBannerQuery.js"></script>
<script src="/src/hooks/useConfigQuery.js"></script>
<script src="/src/hooks/useMetaDataQuery.js"></script>
<script src="/src/styles/GlobalStyles.js"></script>
<script src="/src/templates/Home.js"></script>
<script src="/src/templates/Page.js"></script>
<script src="/src/templates/Post.js"></script>
</head>
</html>